[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"

[packages]
django = {extras = ["argon2"],version = "*"}
psycopg2-binary = "==2.8.4"
pillow = "*"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
